.heroSection {
    border: 1px solid teal;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 500px;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.8) 100%);
    background-image: url("./../../../public/pl-hero.png");
    background-size: cover;
    margin-bottom: 90px;
}

.text1 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 40px;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 16px;
}

.text2 {
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 17px;
    text-align: center;
    color: #FFFFFF;
    mix-blend-mode: normal;
    opacity: 0.7;
    margin-bottom: 44px;
}

.input {
    width: 100%;
    background: #FFFFFF;
    box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.05);
    border-radius: 3px;
    padding: 25px 20px;
    border: none;

    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 28px;
    color: #949EA0;
}

.input::placeholder{
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 28px;
    color: #949EA0;
}