.button1 {
    padding: 12px 22px;
    border: none;
    color: white;
    background: linear-gradient(270deg, #ECBCB3 0%, #EAA79E 100%);
    box-shadow: 0px 15px 20px rgba(234, 168, 159, 0.2);
    border-radius: 50px;
}

.button2 {
    padding: 12px 22px;
    border: 1px solid black;
    color: black;
    background-color: white;
    box-shadow: 0px 15px 20px rgba(234, 168, 159, 0.2);
    border-radius: 50px;
}

.button1:hover{
    cursor: pointer;
}

.button2:hover {
    cursor: pointer;
}