.container{
    display: flex;
    margin: 0 20px;
}
.image {
    width: 280px;
    height: 350px;
    object-fit: cover;
    margin-right: 40px;
}

.name {
    margin-top: 20px;
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 300;
    font-size: 35px;
    line-height: 35px;
}

.latinName{
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 14px;
    mix-blend-mode: normal;
    margin-top: 16px;
    color: firebrick;
}

.description {
    margin-top: 20px;
}