.card {
    background: #FFFFFF;
    box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.15);
    border-radius: 3px;
}

.image {
    width: 100%;
    height: 350px;
    background-size: contain;
}

.about {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 8px;

    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 15px;
    text-align: center;
}

.sightings{
    padding: 10px 16px;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    text-align: center;
    color: #FFFFFF;
}

.sightings:hover{
    background: linear-gradient(270deg, #ECBCB3 0%, #EAA79E 100%);
    box-shadow: 0px 15px 20px rgba(234, 168, 159, 0.2);
    border-radius: 20px;
}

.button {
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
}