.input {
    min-width: 380px;
    padding: 12px 16px;
    background: #F5F6F7;
    border: 1px solid #DFE5EA;
    border-radius: 3px;
    margin-bottom: 16px;
}

.formButtons {
    display: flex;
    justify-content: space-between;
}

.form {
    padding: 30px;
    background: #FFFFFF;
    box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.05);
    border-radius: 3px;
}

.nazivForme {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 20px;
    text-align: center;
    color: #334144;
    margin-bottom: 30px;
}